<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>List Products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-full">
    <header class="container-full">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
<!--            <div sec:authorize="isAuthenticated()">-->
<!--                <a class="navbar-brand" href="/products/"><span sec:authentication="principal.username"></span></a>-->
<!--            </div>-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="navbar-brand" href="http://localhost:8080/products">Sản phẩm<span class="sr-only">(current)</span></a>
                        <a class="navbar-brand" href="http://localhost:8080/customers">Khách hàng <span class="sr-only">(current)</span></a>
                        <a class="navbar-brand" href="http://localhost:8080/bill">Hóa đơn<span class="sr-only">(current)</span></a>
                    </li>
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="#">Link</a>-->
<!--                    </li>-->
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle navbar-brand" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sản phẩm
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/products">Toàn bộ sản phẩm</a>
                            <a class="dropdown-item" href="/products?type=tivi">Tivi</a>
                            <a class="dropdown-item" href="/products?type=tu-lanh">Tủ lạnh</a>
                            <a class="dropdown-item" href="/products?type=dieu-hoa-nhiet-do">Điều hòa</a>
                            <a class="dropdown-item" href="/products?type=may-giat">Máy giặt</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Khác</a>
                        </div>
                    </li>
<!--                    <li class="nav-item"><a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
<!--                    </li>-->
                </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" name="s" type="text" th:value="${keyword}" placeholder="Id, Brand, Type">
                        <button  class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm sản phẩm</button>
                    </form>
            </div>
            &ensp;
            <div >
                <a href="/products/create" class="btn btn-success" role="button" style="float: right">Create new product</a>
            </div>
        </nav>
    </header>
</div>

<!--        <form>-->
<!--            <label><h4>Search by: </h4></label>-->
<!--            <input name="s" type="text" th:value="${keyword}" placeholder="Id, Brand, Type">-->
<!--            <input type="submit" value="Search"/>-->
<!--        </form>-->

<div>
    </br>
    <center>
        <h2 style="float: contour" >Danh sách sản phẩm</h2>
    </center>
    </br>
</div>




<div class="container">
    <table class="table" border="1">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Image</th>
            <th>Amount</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="product : ${products}">
            <tr>
                <td th:text="${product.id}"></td>
                <td th:text="${product.type}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.brand}"></td>
                <td th:text="${#numbers.formatDecimal(product.price,3,'POINT',0,'COMMA')}"></td>
                <td><img th:src="${product.image}"></td>
                <td th:text="${product.amount}"></td>
                <td><a th:href="@{/products/view/__${product.id}__}" class="btn btn-success" role="button">View</a></td>
                <td><a th:href="@{/products/edit/__${product.id}__}" class="btn btn-success" role="button">Edit</a></td>
                <td><a th:href="@{/products/delete/__${product.id}__}" class="btn btn-success" role="button" onclick="return confirm('Are you sure?')">Delete</a></td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <div th:if="${keyword != null}">
        <a th:href="@{'/products'(page=${products.number - 1},size=${products.size},s=${keyword})}" th:if="${products.hasPrevious()}">Previous</a>
        <span th:text="${products.number + 1}"></span>/<span th:text="${products.totalPages}"></span>
        <a th:href="@{'/products'(page=${products.number + 1},size=${products.size},s=${keyword})}" th:if="${products.hasNext()}">Next</a>
    </div>
    <div th:if="${keyword == null}">
        <a th:href="@{'/products'(page=${products.number - 1},size=${products.size})}" th:if="${products.hasPrevious()}">Previous</a>
        <span th:text="${products.number + 1}"></span>/<span th:text="${products.totalPages}"></span>
        <a th:href="@{'/products'(page=${products.number + 1},size=${products.size})}" th:if="${products.hasNext()}">Next</a>
    </div>

</div>
</body>
</html>