<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${product.id}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-full">
    <header class="container-full">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!--            <div sec:authorize="isAuthenticated()">-->
            <!--                <a class="navbar-brand" href="/products/"><span sec:authentication="principal.username"></span></a>-->
            <!--            </div>-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="navbar-brand" href="http://localhost:8080/products">Sản phẩm<span class="sr-only">(current)</span></a>
                        <a class="navbar-brand" href="http://localhost:8080/customers">Khách hàng <span class="sr-only">(current)</span></a>
                        <a class="navbar-brand" href="http://localhost:8080/bill">Hóa đơn<span class="sr-only">(current)</span></a>
                    </li>
                    <!--                    <li class="nav-item">-->
                    <!--                        <a class="nav-link" href="#">Link</a>-->
                    <!--                    </li>-->
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle navbar-brand" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sản phẩm
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/products">Toàn bộ sản phẩm</a>
                            <a class="dropdown-item" href="/products?s=tivi">Tivi</a>
                            <a class="dropdown-item" href="/products?s=tu-lanh">Tủ lạnh</a>
                            <a class="dropdown-item" href="/products?s=dieu-hoa-nhiet-do">Điều hòa</a>
                            <a class="dropdown-item" href="/products?s=may-giat">Máy giặt</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Khác</a>
                        </div>
                    </li>
                    <!--                    <li class="nav-item"><a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
                    <!--                    </li>-->
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" name="s" type="text" th:value="${keyword}" placeholder="Id, Brand, Type">
                    <button  class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm sản phẩm</button>
                </form>
            </div>
            &ensp;
            <div >
                <a href="/products/create" class="btn btn-success" role="button" style="float: right">Create new product</a>
            </div>
            &nbsp;
            <div >
                <a th:href="@{/logout}" class="btn btn-danger" role="button" style="float: right">Logout</a>
            </div>
        </nav>
    </header>
</div>
<div align="center">
    <br/>
    <h3>Thông tin sản phẩm</h3>
    <br/>
</div>
<table class="table" border="1">
    <tr>
        <th>ID:</th>
        <td th:text="${product.id}"></td>
        <td rowspan="6"><img  th:src="${product.image}"></td>
    </tr>
    <tr>
        <th>Type:</th>
        <td th:text="${product.type}"></td>
    </tr>
    <tr>
        <th>Name:</th>
        <td th:text="${product.name}"></td>
    </tr>
    <tr>
        <th>Brand:</th>
        <td th:text="${product.brand}"></td>
    </tr>
    <tr>
        <th>Price:</th>
        <td th:text="${product.price}"></td>
    </tr>
    <tr>
        <th>Amount:</th>
        <td th:text="${product.amount}"></td>
    </tr>
</table>

<br/>
<input type="hidden" id="feature" th:value="${details.feature}">
<input type="hidden" id="technology" th:value="${details.technology}">
<input type="hidden" id="general" th:value="${details.generalInfo}">
<div id="details_table">

</div>


<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(document).ready(function (){
        let feature = $('#feature').val();
        let technology = $('#technology').val();
        console.log(technology);
        let general = $('#general').val();
        console.log(feature.replaceAll('__ <info>','</td></tr><tr><td>').replace('<info>','<tr><td>').replaceAll('__ ','</td><td>').replace('__','</td></tr>'));
        feature = feature.replaceAll('__ <info>','</td></tr><tr><td>').replace('<info>','<tr><td>').replaceAll('__ ','</td><td>').replace('__','</td></tr>');
        general = general.replaceAll('__ <info>','</td></tr><tr><td>').replace('<info>','<tr><td>').replaceAll('__ ','</td><td>').replace('__','</td></tr>').replace('<td> <info>','<tr><td>');
        let render_table = '<table class="table" border="1">\n' +
            '    <tr style="background-color: #1e1f29; color: ghostwhite;">\n' +
            '        <th colspan="2">Đặc điểm:</th>\n' +
            '    </tr>\n' + feature +
            '\n';
        if (technology != ''){
            technology = technology.replaceAll('__ <info>','</td></tr><tr><td>').replace('<info>','<tr><td>').replaceAll('__ ','</td><td>').replace('__','</td></tr>').replace('<td> <info>','<tr><td>');
            render_table += '    <tr style="background-color: #1e1f29; color: ghostwhite;">\n' +
                '        <th colspan="2">Công nghệ:</th>\n' +
                '    </tr>\n' + technology +
                '\n';
        }
        console.log(feature);
        console.log(technology);
        console.log(general);
        render_table += '    <tr style="background-color: #1e1f29; color: ghostwhite;">\n' +
            '        <th colspan="2">Thông tin chung:</th>\n' +
            '    </tr>\n' + general +
            '\n' +
            '</table>';

        $('#details_table').html(render_table);
    });
</script>
</body>
</html>