<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bill detail</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        header{
            border-bottom: solid 1px #c0c0c0;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <header class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">ADMIN</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="navbar-brand" href="http://localhost:8080/products">Sản phẩm<span class="sr-only">(current)</span></a>
                        <a class="navbar-brand" href="http://localhost:8080/customers">Khách hàng <span class="sr-only">(current)</span></a>
                        <a class="navbar-brand" href="http://localhost:8080/bill">Hóa đơn<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle navbar-brand" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sản phẩm
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/products">Toàn bộ sản phẩm</a>
                            <a class="dropdown-item" href="/products?type=tivi">Tivi</a>
                            <a class="dropdown-item" href="/products?type=tu-lanh">Tủ lạnh</a>
                            <a class="dropdown-item" href="/products?type=dieu-hoa-nhiet-do">Điều hòa</a>
                            <a class="dropdown-item" href="/products?type=may-giat">Máy giặt</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Khác</a>
                        </div>
                    </li>
                </ul>
            </div>
            <a href="/bill/" class="btn btn-success" role="button" style="float: right">Quay Lại</a>
        </nav>
    </header>
</div>
<div align="center">
    <div>
        <br/>
        <h3>Hóa đơn chi tiết </h3>
        <br/>
    </div>
    <table align="center" border="1" cellpadding="5" class="table table-hover col-md-3" >
        <th:block th:each="bill : ${bill}">
            <tr>
                <th class="thead-dark">Bill Id:</th>
                <td th:text="${bill.getBillId()}"></td>
            </tr>`
            <tr>
                <th class="thead-dark">Customer Id:</th>
                <td th:text="${bill.getCustomerId()}"></td>
            </tr>
            <tr>
                <th class="thead-dark">Date:</th>
                <td  th:text="${bill.getDate()}"></td>
            </tr>
            <tr>
                <th class="thead-dark">Address:</th>
                <td  th:text="${bill.getAddress()}"></td>
            </tr>
            <tr>
                <th class="thead-dark">Status:</th>
                <td  th:text="${bill.getStatus()}"></td>
            </tr>
        </th:block>
        <th:block th:each="details : ${billDetails}">
            <tr>
                <th class="thead-dark">Product ID:</th>
                <td  th:text="${details.productId}"></td>
            </tr>
            <tr>
                <th class="thead-dark">Unit Price:</th>
                <td  th:text="${details.unit_price}"></td>
            </tr>
            <tr>
                <th class="thead-dark">Amount :</th>
                <td  th:text="${details.amount}"></td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>
<!--    <p>Customer information</p>-->
<!--    <h5 >Hóa đơn</h5>-->
<!--    <table border="1" cellpadding="5" class="table table-hover col-md-3 ">-->
<!--        <tr class="thead-dark">-->
<!--            <th>NO</th>-->
<!--            <th>Product ID</th>-->
<!--            <th>Unit price</th>-->
<!--            <th>Amount</th>-->
<!--        </tr>-->
<!--        <c:forEach var="detail" items="${details}">-->
<!--            <tr>-->
<!--                <td  th:text="${details.indexOf(detail) + 1}"/></td>-->
<!--                <th:forTokens items="${detail}" delims="__" var="token">-->
<!--                    <td  th:text="${token}"/></td>-->
<!--                </th:forTokens>-->
<!--            </tr>-->
<!--        </c:forEach>-->
<!--        <tr>-->
<!--            <td></td>-->
<!--            <td>Total</td>-->
<!--            <td colspan="2"  th:text="${total}"/></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
