<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách khách hàng</title>
</head>
<body>
<a th:href="@{/customers/create}">Add new customer</a>
<form action="#" th:action="@{/customer/search}" method="get">
    <input type="text" name="s" >
    <input type="submit" value="Search">
    <table>
        <thead>
        <tr>
            <th>No</th>
            <th>Phone</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer,iterStat : ${customers}">
            <td th:text="${iterStat.count}"></td>
            <td th:text="${customer.phone}"></td>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.address}"></td>
            <td><a th:href="@{/customers/edit/__${customer.phone}__}">Edit</a></td>
            <td><a th:href="@{/customers/delete/__${customer.phone}__}">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <div>
        <a th:href="@{'/customers'(page=${customers.number - 1})}" th:if="${customers.hasPrevious()}">Previous</a>
        <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
        <a th:href="@{'/customers'(page=${customers.number + 1})}" th:if="${customers.hasNext()}">Next</a>
    </div>
</form>
</body>
</html>